html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.6;
}
body {
    background: linear-gradient(to right, #ff758c, #a18cd1);
    padding: 30px 0;
}

.container-satu {
    width: 900px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px; /* jarak antar kolom */
    align-items: flex-start; /* sejajar dari atas */
}

/* kolom */
.sidebar-satu,
.kolom-utama,
.sidebar-dua {
    margin: 0;
    padding: 0;
}

/* flex ukuran */
.sidebar-satu,
.sidebar-dua {
    flex: 1;
}
.kolom-utama {
    flex: 2;
    text-align: justify;
}

/* heading */
h2, h3 {
    margin: 0 0 10px 0;
}

/* paragraf seragam */
p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin: 0 0 10px 0;
}

/* sidebar satu link list */
.sidebar-satu ul {
    margin: 10px 0 0 0 ;
    padding-left: 20;
}
.sidebar-satu li {
    margin-bottom: 5px;
}
.sidebar-satu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.header img {
  width: 100%;       /* isi penuh horizontal */
  height: auto;      /* tinggi menyesuaikan */
  max-height: 150px; /* biar nggak terlalu tinggi */
  object-fit: cover; /* gambar tetap proporsional */
}

footer img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
}

